In [1]:
import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np

In [67]:
url = 'https://www.imdb.com/search/title/?title_type=feature&genres=adventure&release_date=2024-01-01,2024-12-31'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')

In [68]:
response

In [69]:
#print(soup)

In [141]:
movie_name = []
genre =[]
Duration = []
rating = []
votes = []

In [142]:
movie_data = soup.findAll('div', attrs= {'class':"ipc-metadata-list-summary-item__tc"})

In [144]:
for store in movie_data:
    name = store.h3.text
    movie_name.append(name)

    runtime_1 = store.div.find_all('span', class_ = 'sc-d5ea4b9d-7 URyjV dli-title-metadata-item')
    runtime_text = runtime_1[1].text.replace(' min', '')
    hours = 0
    minutes = 0

    if 'h' in runtime_text:  # Check if hours are present
        hours = int(runtime_text.split('h')[0])  # Get the number of hours

    if 'm' in runtime_text:  # Check if minutes are present
        minutes = int(runtime_text.split('h')[-1].replace('m', '').strip())  # Get the number of minutes

# Convert hours to minutes and add the remaining minutes
    total_minutes = hours * 60 + minutes

    Duration.append(total_minutes)
    rate = store.div.find_all('span', class_ = 'ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating')
     # Split by space and take the first part (e.g., '6.1')
    for item in rate:
    # Extract IMDb rating (e.g., 6.6)
        rating_value = item.find('span', class_='ipc-rating-star--rating').text.strip()
        rating.append(rating_value)
        
    # Extract vote count (e.g., 195K)
        vote_count = item.find('span', class_='ipc-rating-star--voteCount').text.strip()
        votes.append(vote_count)

    genre_1 = store.find('ul', class_='ipc-inline-list ipc-inline-list--show-dividers ipc-inline-list--no-wrap ipc-inline-list--inline baseAlt')
    
    # Check if genre exists and extract them
    if genre_1:
        genre_list = [genre.text.strip() for genre in genre_1.find_all('li')]
        genre.append(', '.join(genre_list))  # Join multiple genres with a comma

In [146]:
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Genre' : "Adventure", 'Duration': Duration, 'Ratings': rating, 'Votes Count': votes})

In [147]:
movie_DF

,Name of movie,Genre,Duration,Ratings,Votes Count
0,1. Gladiator II,Adventure,148,6.6,(195K)
1,2. Sonic the Hedgehog 3,Adventure,110,7.0,(42K)
2,3. Moana 2,Adventure,100,6.8,(75K)
3,4. Mufasa: The Lion King,Adventure,118,6.7,(37K)
4,5. Flow,Adventure,85,7.9,(31K)
5,6. Furiosa: A Mad Max Saga,Adventure,148,7.5,(268K)
6,7. Dune: Part Two,Adventure,166,8.5,(596K)
7,8. Deadpool & Wolverine,Adventure,128,7.6,(465K)
8,9. The Count of Monte-Cristo,Adventure,178,7.6,(29K)
9,10. Civil War,Adventure,109,7.0,(226K)
10,11. Venom: The Last Dance,Adventure,110,6.0,(93K)
11,12. Twisters,Adventure,122,6.5,(154K)
12,13. Paddington in Peru,Adventure,106,6.8,(7.6K)
13,14. Inside Out 2,Adventure,96,7.5,(204K)
14,15. The Return,Adventure,116,6.2,(6.3K)
15,16. Bad Boys: Ride or Die,Adventure,115,6.5,(95K)
16,17. Borderlands,Adventure,101,4.6,(41K)
17,18. Red One,Adventure,123,6.3,(133K)
18,19. The Lord of the Rings: The War of the Rohi...,Adventure,134,6.3,(22K)
19,20. Transformers One,Adventure,104,7.6,(44K)
20,21. Wallace & Gromit: Vengeance Most Fowl,Adventure,82,7.6,(28K)
21,22. Godzilla X Kong: The New Empire,Adventure,115,6.1,(117K)
22,23. Kingdom of the Planet of the Apes,Adventure,145,6.9,(146K)
23,24. Love Lies Bleeding,Adventure,104,6.6,(54K)
24,25. Despicable Me 4,Adventure,94,6.2,(59K)